html {
  /* weird alpha value to fix an issue in Chrome, where the ::selection background-color gets altered for legibility: */
  --color-bright: rgba(253, 233, 98, 0.998);
  --color-dim: rgba(59, 48, 91, 0.998);

  --unit-size: 8px;
}

body {
  margin: var(--unit-size);
  font-family: sans-serif;

  text-align: center;

  color: var(--color);
  background-color: var(--background-color);
}

body.dark {
  --color: var(--color-bright);
  --background-color: var(--color-dim);
}
body.light {
  --color: var(--color-dim);
  --background-color: var(--color-bright);
}

::selection {
  color: var(--background-color);
  background-color: var(--color);
}

.soon:hover::after {
  content: "™";
  position: absolute;
}
