body {
  display: block;
  text-align: left;
  margin: 10vh 10vw;
  background-color: #3B305B;
  
  font-family: "Ubuntu", "Aller", "Open Sans", sans-serif;
}
body * {
  display: inline-block;
  color: #FDE962;
}

a {
  width: 0;
}
h1 > a:not(:hover), h2 > a:not(:hover) {
  text-decoration: none;
}

h1 {
  display: block;
  font-size: 4rem;
  margin: 0px;
}
h2 {
  display: block;
  font-size: inherit;
  margin: 0px;
}

p {
  display: block;
}
p * {
  display: inline;
}

.description::before {
  content: "–";
}
.description, .title {
  display: inline;
}

li {
  display: list-item;
}

ul, ol {
  margin: 0;
}

ul.headings {
  padding-left: 32px;
}
ul.items {
  padding-left: 16px;
}

ul.headings > li {
  margin-top: 32px;
  list-style-type: disc;
  font-size: 2.5rem;
}
ul.items > li {
  margin-top: 16px;
  list-style-type: square;
  font-size: 1.25rem;
}