body {
  margin: 0px;
}

.ribbon {
  position: sticky;
  left: 0;
  top: 0;
  height: auto;
  width: -webkit-fill-available;
  padding: 8px;
  
  background-color: rgb(32, 32, 32, 1.0);
}

.ribbon-content {
  height: 48px;
  display: inline;
  font-size: 32px;
  vertical-align: middle;
  text-decoration: none;
}

.ribbon-content:not(:last-child) {
  padding-right: 16px;
}

h1.ribbon-content {
  color: white;
  
  line-height: 0;
  font-size: 1.5em;
  font-weight: normal;
  font-family: sans-serif;
}
