body {
  font-family: "Aller", "Ubuntu", "Arial", sans-serif;

  margin: 0px;

  text-align: center;

  --color: var(--color-default);
  --background-color: var(--color-dark);

  color: var(--color);
  background-color: var(--background-color);
}

a {
  color: unset;
  text-decoration: unset;
}
a.pagelink::after {
  content: "#";
  position: absolute;

  padding-left: .25em;
  font-weight: lighter;
  font-size: smaller;

  opacity: 0;
}
a.pagelink:hover::after {
  opacity: 1;
}

.construction-sign {
  position: static;
  top: 0px;
  left: 0px;
  right: 0px;

  padding: var(--unit-size);

  font-weight: bolder;

  --background-color: var(--color-failure);
  --color: var(--color-bright);
  color: var(--color);
  background-color: var(--background-color);
}

h3 {
  font-weight: 400;
}

::selection {
  color: var(--background-color);
  background-color: var(--color);
}


.major {
  font-weight: bolder;
}
.minor {
  font-weight: lighter;
}

.colon::after {
  content: ":";
  position: absolute;
}
.percentage::after {
  content: "%";
  position: absolute;
}
.angle::after {
  content: "°";
  position: absolute;
}