.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.color-container {
  position: relative;

  width: 10em;
  height: auto;

  text-align: center;

  margin: var(--unit-size);
  border-radius: var(--unit-size);

  color: var(--color);
  background-color: var(--color-dark);
  transition: background-color var(--unit-time), color var(--unit-time);
}

.color-container:hover,
.color-container:target {
  color: var(--color-dark);
  background-color: var(--color-bright);
}


.color {
  width: auto;
  margin: calc(var(--unit-size) / 2);

  border-radius: calc(var(--unit-size) / 2);

  background-color: var(--color);
}
.color::after {
  content: "";
  display: block;
  padding-top: 100%;
}

.description {
  margin: var(--unit-size);
}

.description > *:not(:last-child) {
  margin-bottom: var(--unit-size);
}

.default  {--color: var(--color-default);}
.success  {--color: var(--color-success);}
.failure  {--color: var(--color-failure);}
.generic  {--color: var(--color-generic);}
.dark     {--color: var(--color-dark);   }


.hsl {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-around;

  font-variant: tabular-nums;

  transition: opacity var(--unit-time);
}
.color-container .hsl {
  opacity: 0;
}
.color-container:hover .hsl,
.color-container:target .hsl {
  opacity: inherit;
}

.hsl > *:nth-child(odd) {
  text-align: left;
}
.hsl > *:nth-child(even) {
  text-align: right;
}

.colon::after {
  content: ":";
}

.percentage::after {
  content: "%";
  position: absolute;
}

.angle::after {
  content: "°";
  position: absolute;
}